/* Blue */

blockquote{
	border-left: 4px solid #3C97D3;
}

.color{
	color: #3C97D3;	
}

header{
	border-top: 2px solid #3C97D3;
}

.navbar button{
background:#3C97D3 !important;  
}

.navbar button:hover{
background:#2A80BA !important;
}

.da-slider{
	border-top: 3px solid #3C97D3;
	border-bottom: 3px solid #3C97D3;
}

.da-slide h2 span{
	background: url("../img/border-b.png") left bottom no-repeat;
}

.da-slide .da-link{
	background: #3C97D3;
}	

.da-slide .da-link:hover{
	background: #2A80BA;
}

.da-dots span{
	background: #3C97D3;
}

.da-arrows span{
	background: #3C97D3;
}

.full-slider{
	border-top: 5px solid #2A80BA;
	background: #3C97D3;
}

.full-slider .button a{
	background: #2A80BA;
}

.full-slider .button a:hover{
	background: #2A80BA;
}	

.flex-back{
	background: #2A80BA;	
}

.home-product{
	background: #3C97D3;
}

.home-product .home-prod-img{
	border: 1px solid #2A80BA;
}

#portfolio .element{
	background: #2A80BA;
}

#portfolio .pcap{
	background:#3C97D3;
	border-top: 2px solid #2A80BA;
}

/* Events - Accordion*/

.events .panel-heading h5{
background:#3C97D3;
}

.social-links{
	background: #3C97D3;	
}

.social-links i{
	background: #2A80BA;
}

.formy{
	background: #3C97D3;
}

.service-two i{
	color: #3C97D3;	
}

.features-two .feat i, .features-three i{
	color: #3C97D3;
}

.about-two .asocial i{
	background:#3C97D3;
}

.career .nav-tabs > li > a:hover{
	background: #3C97D3;
}

.button a{
	background: #3C97D3;
}

.button a:hover{
	background: #2A80BA;
}	

.paging a:hover{
	background: #3C97D3;
}

.paging .current{
	background: #2A80BA;
}