.no-border{
	border: 0 !important;
}
.logo{
	font-family: 'Muslimah Light', 'Droid Arabic Kufi', 'Open Sans', sans-serif;
}
.logo img {
	margin: auto;
}
.da-slider{
	direction: ltr;
}
textarea{
	resize:vertical;
}
.bthumb2{
	padding: 2px;
	box-shadow: 0px 0px 1px #777;
}
.pp_pic_holder{
	direction: initial;
}
#portfolio img {
	width: 175px;
	max-width: 200px;
	height: 150px;
}
#portfolio .element {
	margin: 20px 9px 10px 9px;
	padding: 5px;
	display: inline-block;
}
a.pp_close, a.pp_contract, a.pp_expand, a.pp_arrow_previous, a.pp_arrow_next, a.pp_play, a.pp_next, a.pp_previous{
	text-indent: initial !important;
	color: transparent;
}
@media (min-width: 768px){
	#search {
		max-width: 200px;
	}
}
.audioWrapper {
	padding-bottom: 25px;
	padding-top: 25px;
	text-align: center;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fa {
	top: 0 !important;
	font-size: initial;
}

a{
	text-decoration: none !important;
}

.blog{
	text-align: justify;
    text-justify: inter-word;
}

@media print {
	a[href]:after {
		content: none !important;
	}
	.logo {
		text-align: center;
	}
	.bthumb2{
		max-width: 186px;
		max-height: 186px;
		float: left;
	}
}
