@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DroidKufi-Regular/DroidKufi-Regular.eot);
  src: url(../fonts/DroidKufi-Regular/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/DroidKufi-Regular/DroidKufi-Regular.woff2) format('woff2'),
       url(../fonts/DroidKufi-Regular/DroidKufi-Regular.woff) format('woff'),
       url(../fonts/DroidKufi-Regular/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/DroidKufi-Bold/DroidKufi-Bold.eot);
  src: url(../fonts/DroidKufi-Bold/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/DroidKufi-Bold/DroidKufi-Bold.woff2) format('woff2'),
       url(../fonts/DroidKufi-Bold/DroidKufi-Bold.woff) format('woff'),
       url(../fonts/DroidKufi-Bold/DroidKufi-Bold.ttf) format('truetype');
}

body {
  /*margin-top : 200px;*/
  padding: 0px 70px;

  background-color: #eee;
  font-family: 'Droid Arabic Kufi', 'Open Sans', sans-serif;
}

/*fix for logout*/
.navbar-nav.navbar-right:last-child {
  margin-right: 0px !important; 
}

th, td {
  text-align: center;
  vertical-align: middle !important;
}

/* login */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* icons */

.handle{
  background: url(../img/handle.png) no-repeat center center;
  cursor: move;
}

[data-target="#update-modal"]{
  background: url(../img/update.png) no-repeat center center;
  cursor: pointer;
}

[data-target="#delete-modal"]{
  background: url(../img/delete.png) no-repeat center center;
  cursor: pointer;
}

[data-key="thumbnail"] img{
  max-width: 75px;
  max-height: 75px;
  margin: auto;

}

[data-key="image"] img{
  max-width: 75px;
  max-height: 75px;
  margin: auto;

}

.details{
  background: url(../img/items.png) no-repeat center center;
  cursor: pointer;
}