.big {
	font-size: 20px !important;
	margin-bottom: 10px;
	font-weight: 300;
}

.social-links {
	background: #30ADD1;
	margin-top: 20px;
	padding: 20px 0px 10px 0px;
	color: #fff;
	line-height: 30px;
}
.social-links a, .social-links a:visited, .social-links a:hover{
	font-size: 15px;
	margin: 0px 15px;
	color: #fff;
	font-weight: 400;
	text-decoration: none;
	display: inline-block;
}
.social-links i {
	background: #1587A8;
	position: relative;
	display: inline-block;
	top: -2px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-left: 5px;
}

.marquee {  
    width: 500px;  
    height: 50px;  
    margin: 25px auto;  
    overflow: hidden;  
    position: relative;  
    border: 1px solid #000;  
    margin: 25px auto;    
  
    background-color: #222;  
  
  -webkit-border-radius: 5px;  
  border-radius: 5px;  
  
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);  
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);  
}  
.marquee p {  
    position: absolute;  
    font-family: Tahoma, Arial, sans-serif;  
    width: 100%;  
    height: 100%;  
    margin: 0;  
    line-height: 50px;  
    text-align: center;  
    color: #fff;  
  text-shadow: 1px 1px 0px #000000;  
  filter: dropshadow(color=#000000, offx=1, offy=1);  
}  
.marquee p {  
    transform:translateX(100%);  
}  