#about_us{
	text-align: right;
}
#side_bar{
	text-align: right;
	direction: rtl;
}
#art_text{
	text-align: right;
}
#gallery{
	float: right;
}
#price_filter{
	text-align: right;
}
#prod_details{
	text-align: right;
	/*direction: rtl;*/
	/*float: right;*/
}
#entry_printable{
	text-align: right;
}
#contatc_float{
	text-align: right;
	float: right;
	direction: rtl;
}
#contatc_float{
	text-align: right;
	float: right;
	direction: rtl;
}
#map{
	float: right;
}
#contatc_float li{
	list-style-type: none;
}
#sign_in{
	float: right;
	text-align: right;
	direction: rtl;
}
#sign_up{
	float: right;
	text-align: right;
	direction: rtl;
}
.edit_user tr td p{
	
	direction: rtl;
}


#my_main_navbar{
	text-align: right;
	direction: rtl;
}

#forget_pass_id{
	direction: rtl;
}

#sub_article{
	direction:rtl;
}

.order_list{
	text-align: right;
	direction:rtl;

